append styles
  link(rel='stylesheet', href='../../components/timer/timer.scss')
append skripts
  //- script(type='module', src='../../components/timer/timer.js')
  script(type='module', src='../../components/timer/timer.ts')

append mixins
  mixin timer(options = {})
    -
      options.class = options.class ? `timer ${options.class}` : `timer `;
      const mod = options.mod ? options.mod.trim().split(/[,\s]\s*/) : [];
      options.class += options.mod ? ` timer-${mod.join(` timer-`)} ` : '';
      delete options.mod;
      options.class += options.block_class ? ` ${options.block_class} ` : '';
      const block_class = options.block_class ? `${options.block_class}` : `timer`;
      delete options.block_class;

    label(v-bind:myTimer="qwe")&attributes(options)&attributes(attributes)
      input.timer__input(type='text', readonly, value ='00')
      hr.timer__line
      .timer__buttons_container
        button.timer__button-play_pause(type='button', class='timer__button material-icons')=''
        button.timer__button-stop(type='reset', class='timer__button material-icons')='stop'